@charset "UTF-8";
/* Aqui cargamso el archivo portails, donde esta compilado todo*/
/*------------------------------------*\
    $PARTIALS
\*------------------------------------*/
/**
 * All files to be compiled
 */
/**
* Scss Libraries, mixins, functions and any Scss focused logic
**/
/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/
/**
 *
 * Define all variables and values to use
 *
 */
/*------------------------------------------------*\
                    $colors
\---------------------------------------------------*\

 *branding Colors  */
/* tipografias*/
@import url(//db.onlinewebfonts.com/c/02fcddff61b677f4989d2933d574ca89?family=Amazon+Ember);
/*botones*/
/*constantes*/
/* variables la pagina de inicio*/
/*variables muestrario*/
/*variables cajon*/
/*header*/
/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * Contenido..................... Esto que lees

 * Variables..................... Configuramos todas las variables del framework

 * Mixins........................ Mixins de SASS*/
.vitrina {
  margin-top: 20px;
  width: 100%;
  font-size: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #5FA6FF;
  color: #484848;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
}

.muestrario {
  width: 100%;
  display: flex;
}

.muestrario {
  width: 100%;
  display: flex;
  background-color: #ffffffb7;
  min-height: 500px;
  justify-content: center;
}

.cajon, .cajon-Item, .cajon-tipogrfias {
  margin: 10px;
  background-color: #f5ebeb;
  border-radius: 12px;
  min-height: 0 auto;
  width: 50%;
  justify-content: center;
  padding: 20px;
}

.cajon-tipogrfias {
  color: black;
}

.cajon-Item {
  width: 90%;
}

.btn-add-card, .btn-compra {
  display: block;
  font-size: 13px;
  line-height: 29px;
  margin: 5px;
  outline: 0;
  padding: 0 10px 0 11px;
  text-align: center;
  white-space: nowrap;
}

/*------------------------------------*\
    $BOTONES
\*------------------------------------*/
/*
 * Definimos los botones y sus variantes
 */
/**
* .btn es la clase principal para definir un botón
*/
.btn-compra {
  background-color: #f0c14b;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}

.btn-compra:hover {
  cursor: pointer;
  filter: grayscale(10%);
}

.btn-normal:hover {
  cursor: pointer;
  filter: grayscale(10%);
}

.btn-add-card {
  background: linear-gradient(to bottom, #f6c88f, #ed9220);
  border-color: #000000;
  margin-top: 9px;
}

.btn-add-card:hover {
  cursor: pointer;
  filter: grayscale(40%);
}

.btn-compra, .btn-add-card {
  display: block;
  font-size: 13px;
  line-height: 29px;
  margin: 5px;
  outline: 0;
  padding: 0 10px 0 11px;
  text-align: center;
  white-space: nowrap;
}

h1, .h1 {
  margin-bottom: 5;
  font-size: 2rem;
  line-height: 1.5;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 1.2;
}

h2, .h2 {
  margin-bottom: 0;
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 1.2;
}

h3, .h3 {
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 1.2;
}

h4, .h4 {
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 1.2;
}

h5, .h5 {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 1.2;
}

h6, .h6 {
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 1.2;
}

.p-description {
  font-size: 13px;
  line-height: 19px;
  color: #000000;
}

.p-price {
  font-size: 17px;
  line-height: 19px;
  color: #000000;
}

.p-price-Item {
  color: #B12704;
  font-size: 12px;
  font-size: 17px;
  line-height: 19px;
}

.a-link {
  color: #0066c0;
  cursor: pointer;
  text-decoration: none;
}

.a-link a:visited {
  color: #000000;
}

.li-description {
  font-size: 14px;
  line-height: 20px;
  margin: 2px;
  padding: 5px;
  font-weight: 600;
}

.p-aviso {
  color: #ff0000;
}

.header {
  background-color: #232f3e;
  width: 100%;
  border: 1px solid red;
  border-radius: 0;
  height: 95px;
  display: flex;
}

.header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header ol {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.header li {
  display: flex;
  color: white;
  padding: 5px;
  margin: 5px;
}

header li:hover {
  border: 1px solid white;
}

.logo {
  display: flex;
  width: 200px;
  height: 0 auto;
  margin: 5px;
}

.logo img {
  width: 100%;
  justify-self: center;
  margin: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 30px;
  height: 30px;
}

.busqueda {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.busqueda-input {
  border-radius: 2px;
}

.container_categories {
  width: 100%;
  height: 0 auto;
  display: flex;
  justify-content: space-around;
}

.categories {
  width: auto;
  background-color: white;
}

.container_categories h4 {
  text-align: left;
}

.categories__title {
  font-size: 21px;
  padding: 10px;
  font-weight: 600;
}

.categories__img {
  width: 100%;
}

.categories__img img {
  width: 90%;
}

.categories__link {
  display: flex;
  padding: 15px;
  justify-content: left;
  margin: 10px 0px;
}

.articule {
  width: 100%;
  height: 0 auto;
  display: flex;
  background-color: white;
  padding: 5px;
}

.miniatures {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.miniaturesItem {
  margin: 5px;
  width: 80%;
  padding: 5px;
}

.miniaturesItem:hover {
  border: 1px solid black;
}

.miniaturesItem img {
  width: 100%;
}

.images {
  width: 100%;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.images img {
  width: 80%;
}

.descriptionItem {
  width: 90%;
  text-align: left;
  margin: 10px;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.descriptioItem__title {
  border-bottom: 1px solid black;
  font-size: 12px;
}

.prices {
  border: 1px solid black;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}