.articule{
    width: 100%;
    height: 0 auto;
    display: flex;
    background-color: white;
    padding: 5px;

}

.miniatures{

    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}
.miniaturesItem{
    margin: 5px;
    width: 80%;
    padding: 5px;   
}
.miniaturesItem:hover{
    border: 1px solid black;
}
.miniaturesItem img {
    width: 100%;
}

.images{
    width: 100%;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.images img{
    width: 80%;
}

.descriptionItem{
    width: 90%;
    text-align: left;
    margin: 10px;
    font-family: $font-basic-Amazon;
    font-weight: $font-weight-categories-title;
    font-size: $font-size-prices;
    


}

.descriptioItem__title{
    border-bottom: 1px solid black;
    font-size: $price;
}


.prices{
    border: 1px solid black;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}