.container_categories{
    width: 100%;
    height: 0 auto; 
   display: flex;
   justify-content: space-around;
}

.categories{
    width: auto;
    background-color: white;
    
}
.container_categories h4{
    text-align: left;
}

.categories__title {
    font-size: $font-size-categories_title;
    padding: 10px;
    font-weight:$font-weight-categories-title;
}


.categories__img{
    width: 100%;
    
}
 .categories__img img{
     width: 90%;  
 }


 .categories__link{
     display: flex;
     padding: 15px;
justify-content: left;
margin: 10px 0px;
 }




