@import "button";
/*------------------------------------*\
    $BOTONES
\*------------------------------------*/
/*
 * Definimos los botones y sus variantes
 */


 /**
 * .btn es la clase principal para definir un botón
 */
.btn-compra {
    @extend %btn;
    background-color: $color-button-buy;
    border-color: $boder-color-btn;
    border-style: $border-style-btn;
    border-width: 1px;

}

.btn-compra:hover{

cursor: pointer;
filter:grayscale(10%);

}


.btn-normal:hover{
    cursor: pointer;
    filter:grayscale(10%);
}

.btn-add-card{
    @extend %btn;
    background: linear-gradient(to bottom,#f6c88f,#ed9220);
    border-color: $boder-color-btn;
    margin-top: 9px;
}
.btn-add-card:hover{
    cursor: pointer;
    filter:grayscale(40%);
}