
.vitrina{
    margin-top: 20px;
    width: $ancho-vitrina;
    font-size:$ancho-vitrina;
    text-align: $centered-title-vitrina;
    display: flex;
    justify-content: center;
    background-color: $color-vitrinas;
    color: $color-precios;
    border-radius: 15px;
  flex-direction: column;
  align-items: center;
    

 }

 .muestrario{
     width: $ancho-vitrina;
     display: flex;

 }